# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
logs/

# Debug files
*.debug

# Temporary files
*.tmp
tmp/

# IDE specific files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Coverage reports
coverage/

# Compiled files
build/
dist/